<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^(/)?$ /php_framework/form_test/public/index.php/$1 [L]
RewriteCond ${REQUEST_FILENAME} !-f
RewriteCond ${REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /php_framework/form_test/public/index.php/$1 [L]
</IfModule>
